<style>
  a.external::after {
    font-family: 'FontAwesome';
    font-weight: 900;
    content: ' \f08e'; /* https://fontawesome.com/v4.7.0/icon/external-link */
    vertical-align: text-top;
    font-size: 0.7em;
  }
</style>

<script>
  'use strict';

  // external links
  function highlightExternalLinksIn(element) {
    const pageOrigin = window.location.origin;
    [...element.querySelectorAll('a')]
      .filter(link => link.origin !== pageOrigin) // is external
      .filter(link => link.querySelectorAll('img').length === 0) // does not contain any images
      .forEach(link => {
        link.target = '_blank'; // set to open in new tab
        link.classList.add('external'); // add icon via CSS
      });
  }

  document.addEventListener('DOMContentLoaded', async () => {
    highlightExternalLinksIn(document.querySelector('main'));
  });
</script>
